:root{
    --primary-bg-color: #ffb0739a;
    --secondary-bg-color: #ffb073;
}

body{
    background-color: var(--primary-bg-color);
    font-family: Arial, sans-serif;
}

/* CARD */
.admin-card {
    border-radius: 12px;
}

/* SLIKA */
.book-cover {
    width: 100%;
    max-width: 140px;
    height: auto;
}

/* BUTTON */
.btn-custom {
    background-color: var(--secondary-bg-color);
    color: white;
    border: 1px solid white;
}

.btn-custom:hover {
    background-color: white;
    color: black;
    border: 1px solid var(--secondary-bg-color);
}