:root{
    --primary-bg-color: #ffb0739a;
    --secondary-bg-color: #ffb073;
}

body{
    background-color: var(--primary-bg-color);
    font-family: Arial, sans-serif;
}

/* CARD */
.card {
    color: white;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* SLIKA */
.book-cover {
    width: 100%;
    max-width: 140px;
    height: auto;
}

/* BUTTON */
.btn-custom {
    background-color: var(--secondary-bg-color);
    color: white;
    border: 1px solid white;
}

.btn-custom:hover {
    background-color: white;
    color: black;
    border: 1px solid var(--secondary-bg-color);
}

.btn-danger {
    border: none;
}

.add-book-card {
    max-width: 940px;
    border-radius: 12px;
}

.add-book-card textarea {
    height: 100px;
    resize: none;
}

.add-book-card .form-label {
    font-size: 14px;
    margin-bottom: 2px;
}

.add-book-card button {
    display: block;
    margin: 20px auto 0;
}
