:root{
    --primary-bg-color: #ffb0739a;
    --secondary-bg-color: #ffb073;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
}
/* NAVBAR*/
.custom-navbar {
    background-color: var(--secondary-bg-color);
}

.btn-1:hover {
    background-color: var(--primary-bg-color);
    color: white;
    border-color: white;
}

.profile-img {
    width: 40px;
    border-radius: 50%;
}
/* АУТОР */
.autor-row
{
    background-color: var(--primary-bg-color);
    color: black;
    margin: 10px;
    border:2px solid var(--secondary-bg-color);
    border-radius: 50px;
}
.autor-image {
    padding: 20px;
    text-align: center;
}
.autor-row .autor-bio {
    margin: 2px;
}
.autor-books {
    margin-bottom: 20px;
}
.autor-rate i{
    color: #FFDE21;
}