:root{
    --primary-bg-color: #ffb0739a;
    --secondary-bg-color: #ffb073;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
}
/* NAVBAR*/
.custom-navbar {
    background-color: var(--secondary-bg-color);
}

.btn-1:hover {
    background-color: var(--primary-bg-color);
    color: white;
    border-color: white;
}

.profile-img {
    width: 40px;
    border-radius: 50%;
}
/* АУТОРИ */

.container{
    background-color: var(--primary-bg-color);
}
.autor {
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.autor:hover {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

.autor-img {
    width:100%;
    height: auto;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.autor .autor-bio h3{
    margin: 20px;
}
