:root{
    --primary-bg-color: #ffb0739a;
    --secondary-bg-color: #ffb073;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
}
/* NAVBAR*/
.custom-navbar {
    background-color: var(--secondary-bg-color);
}

.btn-1:hover {
    background-color: var(--primary-bg-color);
    color: white;
    border-color: white;
}

.profile-img {
    width: 40px;
    border-radius: 50%;
}