*{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(to bottom, #000, #550000);
    padding-bottom: 100vh;
}